# Datasets & models (KHÔNG commit)
data/
models/
*.tar.gz
*.bin
*.npz

# Build & executable
*.exe
*.out
*.log

# IDE / editor
.vscode/
.idea/

# Python / Notebook junk (nếu sau này thêm)
__pycache__/
.ipynb_checkpoints/
